body{
    background: url(../pics/images/images/bg-sanfrancisco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300vh;
    background-attachment: fixed;
}
body h1{
    color: white;
}